@{
    ViewData["Title"] = "Home Page";
}

<div class="MenuBlue" id="Menu">
    <div id="MainMenu">
        <div id="MenuLocal"><h3>Local</h3></div>
        <div id="MenuOnline"><h3>Online</h3></div>
        <div id="MenuStats"><h3>Stats</h3></div>
    </div>
    <div id="OnlineMenu">
        <div id="MenuQuick"><h3>Quick Play</h3></div>
        <div id="MenuCreate"><h3>Create Game</h3></div>
        <div id="MenuJoin"><h3>Join Game</h3></div>
        <div id="BackToMenu"><h5>&#60 &#60 Menu </h5></div>
    </div>
</div>


<script>

    var MainMenu = document.getElementById("MainMenu")
    var OnlineMenu = document.getElementById("OnlineMenu")
    var Menu = document.getElementById("Menu")

    var onlineDiv = document.getElementById("MenuOnline")
    onlineDiv.addEventListener("click", function () {
        MainMenu.style.display = "none"
        OnlineMenu.style.display = "block"
        if (Menu.classList.contains("MenuBlue")) {
            Menu.classList.remove("MenuBlue")
            Menu.classList.add("MenuGreen")
        }
    })

    var backToMenu = document.getElementById("BackToMenu")
    backToMenu.addEventListener("click", function () {
        OnlineMenu.style.display = "none"
        MainMenu.style.display = "block"
        if (Menu.classList.contains("MenuGreen")) {
            Menu.classList.remove("MenuGreen")
            Menu.classList.add("MenuBlue")
        }
    })

    var localDiv = document.getElementById("MenuLocal")
    localDiv.addEventListener("click", function () {
	    window.location.href = '@Url.Action("Game", "Home")';
    })

    var statsDiv = document.getElementById("MenuStats")
    statsDiv.addEventListener("click", function () {
	    window.location.href = '@Url.Action("Stats", "Matches")';
    })

    var createDiv = document.getElementById("MenuCreate")
    createDiv.addEventListener("click", function () {
        window.location.href = '@Url.Action("Match", "Matches", new { lobbyAction = "create" })';
    })

    var joinDiv = document.getElementById("MenuJoin")
    joinDiv.addEventListener("click", function () {
        window.location.href = '@Url.Action("Match", "Matches", new { lobbyAction = "join" })';
    })

    var quickDiv = document.getElementById("MenuQuick")
    quickDiv.addEventListener("click", function () {
        window.location.href = '@Url.Action("Match", "Matches", new { lobbyAction = "quick" })';
    })

</script>
