@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model string
@{
    ViewData["Title"] = "Match";

    AppUser user = await UserManager.GetUserAsync(User);
}

@if (Model == "create")
{

    <div class="CreatePopUp">
        <div class="row">&nbsp;</div>
        <div>
            <div class="LoaderHeader">
                <p>Send this Lobby ID to your rival!</p>
                <p><span id="lobbyid"></span></p>
            </div>
            <div>
                <div id="Loader">
                    <div class="LoaderPiece1"></div>
                    <div class="LoaderPiece2"></div>
                    <div class="LoaderPiece3"></div>
                    <div class="LoaderPiece4"></div>
                </div>
                <span id="status"></span>
            </div>
        </div>
    </div>
}
else if (Model == "join")
{

    <div class="JoinPopUp">
        <div class="row">&nbsp;</div>
        <div class="row">
            <input type="text" id="groupInput" />
            <input type="button" id="joinButton" value="Join Match" />
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <p>LobbyId: <span id="lobbyid"></span></p>
            <p>Player: <span id="userPlayer"></span></p>
            <p>Estado: <span id="status"></span></p>

        </div>
    </div>
}
else if (Model == "quick")
{
    <h1>Quick Game</h1>

    <div class="container">
        <div class="row">&nbsp;</div>
        <div>
            <p>LobbyId: <span id="lobbyid"></span></p>
            <p>Player: <span id="userPlayer"></span></p>
            <p>Estado: <span id="status"></span></p>
        </div>
    </div>
}

<div id="GameScene" class="GameSceneOnlineWaiting">
    <br />
    <h1 id="GameTitle">4 to Win</h1>
    <hr />
    <br />

    <div id="GameInfo">
        <h4>Player  <span id="CurPlayer"></span></h4>
        <h5>Round &nbsp <span id="Round"></span></h5>
    </div>

    <h3 id="Countdown"></h3>

    <div class="board">

        <div class="col" id="column1">
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
        </div>

        <div class="col" id="column2">
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
        </div>

        <div class="col" id="column3">
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
        </div>

        <div class="col" id="column4">
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
        </div>

        <div class="col" id="column5">
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
        </div>

        <div class="col" id="column6">
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
        </div>

        <div class="col" id="column7">
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
        </div>

    </div>

</div>

<div id="wrapper">

    <div id="chatbox">
        <div class="fix"></div>
    </div>
    <div id="sendbox">
        <input type="text" id="usermsg" size="63" />
        <input type="image" id="submitmsg" alt="Send" src="~/img/send_button.png">
    </div>

</div>

<div id="VictoryPopUp">
    <h4 id="WinnerMsg"></h4>
    <button type="button" class="btnRematch" onclick="">Rematch</button>
    <button type="button" class="btnClose" onclick="CloseResultPopUp()">Close</button>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    var lobbyAction = "@Model";
    var userNickname = "@user.Nickname";
    var userId = "@user.Id";
    var userImage = "@user.UserImage";

    function SendToDatabase() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveMatchData", "Matches")',
            data: {
                User1Id: user1Id,
                User2Id: user2Id,
                Winner: matchWinner,
                NumRounds: round
            },
            ajaxasync: true,
        });
    }
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/match.js"></script>

