@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model string
@{
    ViewData["Title"] = "Match";

    AppUser user = await UserManager.GetUserAsync(User);
}

@if (Model == "create")
{
    <h1>Create Match</h1>

    <div class="container">
        <div class="row">&nbsp;</div>
        <div>
            <p>LobbyId: <span id="lobbyid"></span></p>
            <p>Player: <span id="userPlayer"></span></p>
            <p>Estado: <span id="status"></span></p>
        </div>
    </div>
}
else if (Model == "join")
{
    <h1>Join Match</h1>

    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <input type="text" id="groupInput" />
            <input type="button" id="joinButton" value="Join Match" />
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <p>LobbyId: <span id="lobbyid"></span></p>
            <p>Player: <span id="userPlayer"></span></p>
            <p>Estado: <span id="status"></span></p>

        </div>
    </div>
}
else if (Model == "quick")
{
    <h1>Quick Game</h1>

    <div class="container">
        <div class="row">&nbsp;</div>
        <div>
            <p>LobbyId: <span id="lobbyid"></span></p>
            <p>Player: <span id="userPlayer"></span></p>
            <p>Estado: <span id="status"></span></p>
        </div>
    </div>
}

<div id="Scene">
    <br />
    <h1 id="GameTitle">4 to Win</h1>
    <hr />
    <br />

    <div id="GameInfo">
        <h4>Player  <span id="CurPlayer"></span></h4>
        <h5>Round &nbsp <span id="Round"></span></h5>
    </div>

    <h3 id="Countdown"></h3>

    <div class="board">

        <div class="col" id="column1">
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
        </div>

        <div class="col" id="column2">
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
        </div>

        <div class="col" id="column3">
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
        </div>

        <div class="col" id="column4">
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
        </div>

        <div class="col" id="column5">
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
        </div>

        <div class="col" id="column6">
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
        </div>

        <div class="col" id="column7">
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
        </div>

    </div>

</div>

<div id="chat-content" >
    <div id="toggle-btn">
        <img id="chat-noti" src="~/img/chat-noti.png" />
        <img id="chat-image" src="~/img/chat.png" />
    </div>
    <div id="chatbox">
        <div class="fix"></div>
    </div>
    <div id="sendbox">
        <input type="text" id="usermsg" size="63" />
        <input type="image" id="submitmsg" alt="Send" src="~/img/send_button.png">
    </div>

</div>

<div id="VictoryPopUp">
    <h4 id="WinnerMsg"></h4>
    <div id="WinnerImgContent">
        <img id="WinnerCrown" src="~/img/crown.png" />
        <img id="WinnerImg" />
    </div>
    <button class="btnRematch"><a asp-controller="Home" asp-action="Game">Rematch</a></button>
    <button class="btnClose"><a asp-controller="Home" asp-action="Index">Close</a></button>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    var lobbyAction = "@Model";
    var userNickname = "@user.Nickname";
    var userId = "@user.Id";
    var userImage = "@user.UserImage";

    document.getElementById('toggle-btn').addEventListener('click', function () {
        document.getElementById('chat-content').classList.toggle('active');
        document.getElementById('toggle-btn').classList.toggle('active');

        document.getElementById('chat-image').style.display = 'block';
        document.getElementById('chat-noti').style.display = 'none';

        document.getElementById('usermsg').focus();

        if (isChatOpen)
            isChatOpen = false;
        else
            isChatOpen = true;

        console.log("chat open:" + isChatOpen)
    })



    function SendToDatabase() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveMatchData", "Matches")',
            data: {
                User1Id: user1Id,
                User2Id: user2Id,
                Winner: matchWinner,
                NumRounds: round
            },
            ajaxasync: true,
        });
    }
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/match.js"></script>

