@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Stats";

    AppUser user = await UserManager.GetUserAsync(User);
}

<h1>Stats</h1>
<h4>@user.Nickname</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Matches Won:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.won
        </dd>
        <dt class="col-sm-2">
            Matches Lost:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.lost
        </dd>
        <dt class="col-sm-2">
            Matches Draw:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.draw
        </dd>
        <dt class="col-sm-2">
            Matches Played:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.total
        </dd>
        <dt class="col-sm-2">
            Record:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.record
        </dd>
    </dl>
</div>


@* LIST HISTORICAL *@

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Rival
            </th>
            <th>
                Result
            </th>
            <th>
                Rounds
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.playedU1)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @foreach (var item2 in ViewBag.UsersList)
                    {
                        if (item2.Id == item.User2Id)
                        {
                            @Html.Raw(item2.Nickname)
                        }

                    }
                </td>
                <td>
                    @if (item.Winner == "1")
                    {
                        @Html.Raw("Victoria")
                    }
                    else if (item.Winner == "2")
                    {
                        @Html.Raw("Derrota")
                    }
                    else
                    {
                        @Html.Raw("Empate")
                    }
                </td>
                <td>
                    @item.NumRounds
                </td>
            </tr>
        }
        @foreach (var item in ViewBag.playedU2)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @foreach (var item2 in ViewBag.UsersList)
                    {
                        if (item2.Id == item.User1Id)
                        {
                            @Html.Raw(item2.Nickname)
                        }

                    }
                </td>
                <td>
                    @if (item.Winner == "2")
                    {
                        @Html.Raw("Victoria")
                    }
                    else if (item.Winner == "1")
                    {
                        @Html.Raw("Derrota")
                    }
                    else
                    {
                        @Html.Raw("Empate")
                    }
                </td>
                <td>
                    @item.NumRounds
                </td>
            </tr>
        }
    </tbody>
</table>
