@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Stats";

    AppUser user = await UserManager.GetUserAsync(User);
}
<div id="StatsScene">
    <br />
    <h1 id="StatsTitle">Stats</h1>
    <hr />
    <br />

    <h4 class="StatsPlayer">Player <span id="StatsName">@user.Nickname</span></h4>

    <div>
        <hr />
        <dl class="row StatsResume">
            <dt class="col-sm-2">
                Games:
            </dt>
            <dd class="col-sm-10">
                @ViewBag.total
            </dd>
            <dt class="col-sm-2">
                Wins:
            </dt>
            <dd class="col-sm-10">
                @ViewBag.won
            </dd>
            <dt class="col-sm-2">
                Defeats:
            </dt>
            <dd class="col-sm-10">
                @ViewBag.lost
            </dd>
            <dt class="col-sm-2">
                Draws:
            </dt>
            <dd class="col-sm-10">
                @ViewBag.draw
            </dd>
            <dt class="col-sm-2">
                Best play:
            </dt>
            <dd class="col-sm-10">
                @ViewBag.record
            </dd>
        </dl>
    </div>


    @* LIST HISTORICAL *@

<table class="table">
    <thead>
        <tr>
            <th>
                Date Time
            </th>
            <th>
                Rival
            </th>
            <th>
                Result
            </th>
            <th>
                Rounds
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.playedU1)
        {
            <tr>
                <td>
                    @item.DateTime
                </td>
                <td>
                    @foreach (var item2 in ViewBag.UsersList)
                    {
                        if (item2.Id == item.User2Id)
                        {
                            @Html.Raw(item2.Nickname)
                        }

                        }
                    </td>
                    <td>
                        @if (item.Winner == "1")
                        {
                            @Html.Raw("<p style='color:green'> Victory </p>")
                        }
                        else if (item.Winner == "2")
                        {
                            @Html.Raw("<p style='color:red'> Defeat </p>")
                        }
                        else
                        {
                            @Html.Raw("<p style='color:yellow'> Draw </p>")
                        }
                    </td>
                    <td>
                        @item.NumRounds
                    </td>
                </tr>
            }
            @foreach (var item in ViewBag.playedU2)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @foreach (var item2 in ViewBag.UsersList)
                        {
                            if (item2.Id == item.User1Id)
                            {
                                @Html.Raw(item2.Nickname)
                            }

                        }
                    </td>
                    <td>
                        @if (item.Winner == "2")
                        {
                            @Html.Raw("<p style='color:green'> Victory </p>")
                        }
                        else if (item.Winner == "1")
                        {
                            @Html.Raw("<p style='color:red'> Defeat </p>")
                        }
                        else
                        {
                            @Html.Raw("<p style='color:yellow'> Draw </p>")
                        }
                    </td>
                    <td>
                        @item.NumRounds
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
